/* !Rosetta Reizen
  ###############################################
  #	
  #	  @address	: /templates/rosettareizen/less/template.less
  #	  @author	: Loek
  #	  @date		: 17-09-12	
  #	  @Revision	: 140735240337984
  #	
  ###############################################
*/

.coloreditems(@colored){
	/* !Body -------------------------------------------------- */
	
	a{
		color:@colored;
	}
	h1{
		color:@colored;
	}
	h2{
		color:@colored;
	}
	h3{
		color:@colored;
	}
	
	/* !Nav -------------------------------------------------- */
	
	.navbar{
		.navbar-inner{
			.container{
				.nav{
					&>li{
						&>a{
							/* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */
							color:darken(@colored, 5%);
							&:hover{
								color:#fff;
							}
					  	}
					}
					&>.active{
				  		&>a{
					  		&:hover{
					  			/* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */
					  			color:darken(@colored, 5%) !important;
							}
					  	}  	
				  	}
				}
			} 
		}
	}
	.nav-collapse.in.collapse{
		.dropdown-menu{
			li{
				&.active{
			  		&>a{
				  		&:hover{
							/* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */
					  		color:darken(@colored, 5%);
						}
				  	}  	
			  	}
			}
		}
	}
	.dropdown-menu li > a:hover,
	.dropdown-menu li > a:focus,
	.dropdown-submenu:hover > a {
	  background-color: @colored;
	}
	
	.dropdown-menu .active > a,
	.dropdown-menu .active > a:hover {
	  background-color: @colored;
	}
	
	/* !Header -------------------------------------------------- */
	
	.header {
		.container {
		  	.spotlight-trip{
			  	span{
				  	a{
					  	&:hover{
						  	color:@colored;
					  	}
				  	}
			  	}
		  	}
		}
	}
	/* !Sidebar -------------------------------------------------- */
	aside.span3{
		.sidebar{
			.moduletable{
				h3 {
					background:@colored;
				}
			}
		}
	}
	.trip{
		background: @colored;
	}
}


.lightblue{
	.coloreditems(#88CCCF);
}
.turqoise{
	.coloreditems(#13AFAB);
}
.darkpurple{
	
	/*aanpassing JT, kleur paars vinden ze te flets .coloreditems(#A182B9);*/
	.coloreditems(#875aae);
}
.pink{
	.coloreditems(#EA609B);
}
.orange{
	/*aanpassing JT, kleur paars vinden ze te flets .coloreditems(#F39C33);*/
	.coloreditems(#f68b0a);
}
.purple{
	.coloreditems(#CA80B1);
}
