@font-face {
    font-family: 'quadraat';
    src: url('../fonts/quadraat-bold.eot');
    src: url('../fonts/quadraat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quadraat-bold.woff') format('woff'),
         url('../fonts/quadraat-bold.ttf') format('truetype'),
         url('../fonts/quadraat-bold.svg#quadraatbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dakota';
    src: url('../fonts/dakota_regular.eot');
    src: url('../fonts/dakota_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dakota_regular.woff') format('woff'),
         url('../fonts/dakota_regular.ttf') format('truetype'),
         url('../fonts/dakota_regular.svg#quadraatbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rotis';
    src: url('../fonts/agfarotissemisansextrabold.eot');
    src: url('../fonts/agfarotissemisansextrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfarotissemisansextrabold.woff') format('woff'),
         url('../fonts/agfarotissemisansextrabold.ttf') format('truetype'),
         url('../fonts/agfarotissemisansextrabold.svg#quadraatbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

blockquote{
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

h1{
	font-family: 'quadraat';
	font-size:38pt;
	font-weight: bold;
	color:black;
	padding-bottom: 19px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}
h2{
	font-family: 'quadraat';
	font-size:38pt;
	color:black;
	padding-bottom: 19px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}
h3{
	font-family: 'rotis';
	font-size:17pt;
	color:black;
}


.Quote{
	font-family: 'dakota';
	font-size:19pt;
	line-height:20pt;
	color:#d7d039;
	width:100%;
	margin-bottom: 20px;
	display:block;
}