/* !Rosetta Reizen
  ###############################################
  #	
  #	  @address	: /templates/rosettareizen/less/template.less
  #	  @author	: Loek
  #	  @date		: 17-09-12	
  #	  @Revision	: 140735240337984
  #	  @todo		: EDITOR.CSS MAKEN!!!!
  #	
  ###############################################
*/
/* !Vars -------------------------------------------------- */
/* JT vinden ze te licht, ik maak hem iets donkerder. @limegreen: #d7d039; */
/* !Fonts -------------------------------------------------- */
@font-face {
  font-family: 'quadraat';
  src: url('../fonts/quadraat-bold.eot');
  src: url('../fonts/quadraat-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/quadraat-bold.woff') format('woff'), url('../fonts/quadraat-bold.ttf') format('truetype'), url('../fonts/quadraat-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}
@font-face {
  font-family: "rotis";
  src: url('../fonts/rotis_sans_serif_bold_65-webfont.eot');
  src: url('../fonts/rotis_sans_serif_bold_65-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rotis_sans_serif_bold_65-webfont.woff') format('woff'), url('../fonts/rotis_sans_serif_bold_65-webfont.ttf') format('truetype'), url('../fonts/rotis_sans_serif_bold_65-webfont.svg#rotissansserifbold') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}
@font-face {
  font-family: "dakota";
  src: url('../fonts/dakota_regular.eot');
  src: url('../fonts/dakota_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dakota_regular.woff') format('woff'), url('../fonts/dakota_regular.ttf') format('truetype'), url('../fonts/dakota_regular.svg#dakotaregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}
/* !Body -------------------------------------------------- */
body {
  background: #ffffff url(../img/background.png) left repeat-y;
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  /*color:#666;*/

  color: #545454;
}
a {
  color: #e8337a;
}
a:hover {
  color: #d7d039;
}
h1 {
  font-family: 'quadraat';
  font-size: 38pt;
  font-weight: bold;
  color: #e8337a;
  padding-bottom: 19px;
  margin: 10px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
h2 {
  font-family: 'quadraat';
  font-size: 38pt;
  color: #e8337a;
  padding-bottom: 19px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
h2 .btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: 10px;
}
h2.tripcontenttitle {
  font-size: 25pt;
  padding-bottom: 0px;
  margin: 0px;
}
h3 {
  font-family: "rotis", Helvetica, Arial, sans-serif;
  font-size: 17pt;
  color: #e8337a;
}
.calendar {
  z-index: 999999999;
}
#content-container img {
  max-width: 400px ;
}
#content-container .modal-body img {
  max-width: 100%;
}
/* !Nav -------------------------------------------------- */
.navbar {
  box-shadow: 0px -5px 20px #000000;
  height: 60px;
}
.navbar .navbar-inner {
  filter: none !important;
  background: #d7d039;
  border: none;
  box-shadow: none;
  height: 60px;
}
.navbar .navbar-inner .container .brand {
  padding: 0px;
  padding-top: 15px;
  width: 240px !important;
}
.navbar .navbar-inner .container .nav > li .dropdown-menu .dropdown-menu {
  overflow-y: auto;
  max-height: 500px;
}
.navbar .navbar-inner .container .nav > li:hover > .dropdown-menu {
  display: block;
  top: 60px;
}
.navbar .navbar-inner .container .nav > li > a {
  float: none;
  padding: 20px 10px 50px;
  color: #777777;
  text-decoration: none;
  text-shadow: none;
  color: #e8337a;
  font-family: "rotis", Helvetica, Arial, sans-serif;
  font-size: 13pt;
}
.navbar .navbar-inner .container .nav > li > a:hover {
  background-color: transparent;
  color: #fff;
}
.navbar .navbar-inner .container .nav > .active > a {
  background: none;
  box-shadow: none;
  color: #fff !important;
}
.navbar .navbar-inner .container .nav > .active > a:hover {
  color: #e8337a !important;
}
.nav-collapse.in.collapse {
  width: 100%;
  border-top: 1px solid #fff;
  margin-top: 5px;
}
.nav-collapse.in.collapse .dropdown-menu li a:hover {
  background-color: transparent;
  color: #fff;
}
.nav-collapse.in.collapse .dropdown-menu li a::after {
  border-left-color: transparent;
}
.nav-collapse.in.collapse .dropdown-menu li.active > a {
  background: none;
  box-shadow: none;
  color: #fff;
}
.nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  color: #e8337a;
}
.nav-collapse.in.collapse .dropdown-menu .dropdown-submenu .dropdown-menu {
  display: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #fff;
  text-decoration: none;
  background-color: #e8337a;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #e8337a;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle {
  color: #e8337a;
  background-color: transparent;
}
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;
  background-color: transparent;
}
/* !Header -------------------------------------------------- */
.header {
  position: relative;
  height: 300px;
  box-shadow: 0 5px 10px #b0b0b0;
  overflow: hidden;
}
.header .imgcontainer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header .imgcontainer img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}
.header.homepage {
  height: 530px;
}
.header.homepage .header-module {
  height: 310px;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
}
.header .container {
  position: relative;
  z-index: 5;
  /* !Header module -------------------------------------------------- */
}
.header .container .header-module-bg {
  height: 300px;
  background: url(../img/sier.png) no-repeat right top;
  position: absolute;
  z-index: 0;
}
.header .container .header-module {
  height: 300px;
  background: url('../img/overlay.png');
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
}
.header .container .header-module .moduletable {
  padding: 20px;
}
.header .container .header-module .moduletable h3 {
  text-align: right;
  color: #404040;
  margin: 0;
}
.header .container .header-module .moduletable .date-input1 {
  margin-left: 0;
}
.header .container .header-module .moduletable .date-input1,
.header .container .header-module .moduletable .date-input2 {
  position: relative;
}
.header .container .header-module .moduletable .date-input1 .input-prepend,
.header .container .header-module .moduletable .date-input2 .input-prepend {
  padding-right: 60px !important;
}
.header .container .header-module .moduletable .date-input1 input,
.header .container .header-module .moduletable .date-input2 input {
  position: relative;
  z-index: 1;
  width: 100% !important;
  padding-left: 50px;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}
.header .container .header-module .moduletable .date-input1 input:focus,
.header .container .header-module .moduletable .date-input2 input:focus {
  z-index: 1;
}
.header .container .header-module .moduletable .date-input1 .btn,
.header .container .header-module .moduletable .date-input2 .btn {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.header .container .spotlight-trip {
  clear: both;
  margin-top: 50px;
  color: #fff;
  font-family: "dakota", Palatino, Helvetica, Arial, sans-serif;
  font-size: 27pt;
  line-height: 24pt;
  text-align: center;
}
.header .container .spotlight-trip h4 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: bolder;
  font-family: "dakota", Palatino, Helvetica, Arial, sans-serif;
  font-size: 25pt;
}
.header .container .spotlight-trip .spotlighttrips {
  position: relative;
  width: 100%;
}
.header .container .spotlight-trip .spotlighttrips span {
  left: 0;
}
.header .container .spotlight-trip .spotlighttrips span a {
  color: #fff;
}
.header .container .spotlight-trip .spotlighttrips span a:hover {
  color: #e8337a;
  text-decoration: none;
}
/* !Sidebar -------------------------------------------------- */
aside.span3 {
  position: relative;
}
aside.span3 .sidebar {
  margin-top: 45px;
  width: inherit;
  background: #fff;
}
aside.span3 .sidebar.affix {
  top: 40px;
  z-index: 0;
}
aside.span3 .sidebar.affix-bottom {
  position: fixed;
  bottom: 200px;
}
aside.span3 .sidebar .moduletable {
  clear: both;
  margin-bottom: 20px;
  position: relative;
}
aside.span3 .sidebar .moduletable h3 {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  text-align: left;
  padding-left: 10px;
  background: #e8337a;
  color: #fff;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  line-height: 20px;
  padding: 10px 10px;
}
aside.span3 .sidebar .moduletable > div {
  display: block;
  padding: 15px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  *zoom: 1;
}
aside.span3 .sidebar .moduletable > div:before,
aside.span3 .sidebar .moduletable > div:after {
  display: table;
  line-height: 0;
  content: "";
}
aside.span3 .sidebar .moduletable > div:after {
  clear: both;
}
aside.span3 .sidebar .moduletable > div:first-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}
aside.span3 .sidebar .moduletable > div:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}
aside.span3 .sidebar .moduletable .nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
}
aside.span3 .label {
  line-height: 25px;
}
aside.span3 .label.lightblue {
  background: #88CCCF !important;
  font-size: 12pt;
}
aside.span3 .label.turqoise {
  background: #13AFAB !important;
  font-size: 12pt;
}
aside.span3 .label.darkpurple {
  /* aanpassing JT background:#A182B9 !important; */

  background: #875aae !important;
  font-size: 12pt;
}
aside.span3 .label.pink {
  background: #eb619d !important;
  font-size: 12pt;
}
aside.span3 .label.orange {
  /* aanpassing JT background:#F39C33 !important; */

  background: #f68b0a !important;
  font-size: 12pt;
}
aside.span3 .label.purple {
  background: #CA80B1 !important;
  font-size: 12pt;
}
/* !Content -------------------------------------------------- */
#content-container {
  background: #FFF;
}
.content {
  padding-top: 45px;
}
.content h2 {
  word-wrap: break-word;
}
.content .quote {
  font-family: "dakota", Palatino, Helvetica, Arial, sans-serif;
  font-size: 19pt;
  line-height: 20pt;
  color: #9e9920;
  width: 100%;
  margin-bottom: 20px;
  display: block;
}
.social {
  clear: both;
  padding-top: 19px;
  margin: 20px 0 30px;
  border-top: 1px solid #eeeeee;
}
.social > div {
  float: right;
  margin-left: 10px;
}
.social > div.backtotop {
  float: left;
}
.social > div.backtotop .btn {
  line-height: 14px;
}
.pagination select {
  width: auto;
  margin-top: 5px;
  margin-left: 3px;
}
/* !TRIP -------------------------------------------------- */
h2.triptypetitle {
  margin: 0px;
  border: none;
  padding: 0px;
}
.trip {
  background: #e8337a;
  color: #fff;
  width: inherit;
  float: left;
  margin-bottom: 20px;
  cursor: pointer;
}
.trip > span {
  float: left;
  width: 100%;
}
.trip > span p {
  padding-right: 20px;
  font-size: 10pt;
  height: 40px;
  overflow: hidden;
}
.trip > span div {
  margin-top: 15px;
}
.trip > span div span.departuredate {
  font-size: 9pt;
}
.trip > span div span.startingprice {
  /* aanpassing JT, dit wilde ze in normaal lettertype hebben font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;*/

  font-size: 14pt;
  font-weight: bold;
  color: #000;
}
.trip > span div .btn {
  margin-top: 5px;
  margin-right: 20px;
}
.trip > span img {
  float: left;
  margin-right: 20px;
}
.trip > span h3 {
  color: #fff;
  margin: 15px 0px 10px 0px;
  line-height: 20px;
}
.trip.lightblue {
  background: #88CCCF !important;
}
.trip.turqoise {
  background: #13AFAB !important;
}
.trip.darkpurple {
  /*aanpassing JT, kleur paars vinden ze te flets background:#A182B9 !important;*/

  background: #875aae !important;
}
.trip.pink {
  background: #EA609B !important;
}
.trip.orange {
  /*aanpassing JT, kleur paars vinden ze te flets background:#F39C33 !important;*/

  background: #f68b0a !important;
}
.trip.purple {
  background: #CA80B1 !important;
}
.tripinfo img.thumb {
  /* aanpassing JT, dit vonden ze te klein. width:150px; */

  width: 30%;
  float: right;
}
.modal-body {
  max-height: 100%;
}
.calculation {
  font-size: 9pt;
}
/* !BOEKINGS FORM -------------------------------------------------- */
#calculationbox {
  position: relative;
}
.spinner {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  z-index: 999;
  background: #fff;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
}
.spinner-msg {
  text-align: center;
  font-weight: bold;
}
.spinner-img {
  background: url(/components/com_trip/assets/img/preloader.gif) no-repeat;
  width: 31px;
  height: 31px;
  margin: 0 auto;
}
.calculation .group {
  width: 100%;
  border-top: 1px solid #DDD;
  padding: 4px 0;
}
.calculation .group span {
  margin: 0 4px;
  float: left;
}
.calculation .group span.price {
  float: right;
  font-weight: bold;
}
.calculation .group.totalprice {
  font-weight: bold;
  color: #e8337a;
  font-size: 140%;
  /*JT uit op verzoek Yen font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;*/

  padding: 10px 0;
}
.validation-advice {
  color: #B94A48;
}
input.validation-failed {
  border-color: #B94A48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #B94A48;
  background: #e3b7b7;
}
input.validation-failed:focus {
  border-color: #953b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
/* !AANPASSINGEN 13 SEPT 2013 -------------------------------------------------- */
.anchorOffset {
  margin-top: -80px;
  position: absolute;
  display: block;
}
.anchorLinksContainer {
  padding-bottom: 10px;
  float: left;
}
.anchorLinksContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.anchorLinksContainer ul li {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
/* !Footer -------------------------------------------------- */
.footer {
  height: 215px;
  margin-top: 70px;
  border-top: 2px solid #e5e5e5;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.footer .imgwrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.footer .imgwrapper .imgcontainer {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.footer .imgwrapper .imgcontainer img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.footer .imgwrapper .overlay {
  border-top: 1px solid #fff;
  background: url('../img/overlay.png');
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.footer .container {
  position: relative;
  z-index: 1;
  margin: 50px auto;
}
/*
	Datepicker for Bootstrap
	Copyright 2012 Stefan Petre
	Licensed under the Apache License v2.0
	http://www.apache.org/licenses/LICENSE-2.0
*/
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  border-radius: 4px 0px 0px 0px;
  -moz-border-radius: 4px 0px 0px 0px;
  -webkit-border-radius: 4px 0px 0px 0px;
  z-index: 99999999;
  position: absolute;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}
.datepicker td.day:hover {
  background: #DDD;
  cursor: pointer;
}
.datepicker td.old,
.datepicker td.new {
  color: #DDD;
}
.datepicker td.active,
.datepicker td.active:hover {
  background: #e8337a;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}
.datepicker td span:hover {
  background: #DDD;
}
.datepicker td span.active {
  background: #e8337a;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.old {
  color: #DDD;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #DDD;
}
/* !Colors -------------------------------------------------- */
/* !Rosetta Reizen
  ###############################################
  #	
  #	  @address	: /templates/rosettareizen/less/template.less
  #	  @author	: Loek
  #	  @date		: 17-09-12	
  #	  @Revision	: 140735240337984
  #	
  ###############################################
*/
.lightblue {
  /* !Body -------------------------------------------------- */

  /* !Nav -------------------------------------------------- */

  /* !Header -------------------------------------------------- */

  /* !Sidebar -------------------------------------------------- */

}
.lightblue a {
  color: #88cccf;
}
.lightblue h1 {
  color: #88cccf;
}
.lightblue h2 {
  color: #88cccf;
}
.lightblue h3 {
  color: #88cccf;
}
.lightblue .navbar .navbar-inner .container .nav > li > a {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */

  color: #76c4c8;
}
.lightblue .navbar .navbar-inner .container .nav > li > a:hover {
  color: #fff;
}
.lightblue .navbar .navbar-inner .container .nav > .active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */

  color: #76c4c8 !important;
}
.lightblue .nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */

  color: #76c4c8;
}
.lightblue .dropdown-menu li > a:hover,
.lightblue .dropdown-menu li > a:focus,
.lightblue .dropdown-submenu:hover > a {
  background-color: #88cccf;
}
.lightblue .dropdown-menu .active > a,
.lightblue .dropdown-menu .active > a:hover {
  background-color: #88cccf;
}
.lightblue .header .container .spotlight-trip span a:hover {
  color: #88cccf;
}
.lightblue aside.span3 .sidebar .moduletable h3 {
  background: #88cccf;
}
.lightblue .trip {
  background: #88cccf;
}
.turqoise {
  /* !Body -------------------------------------------------- */

  /* !Nav -------------------------------------------------- */

  /* !Header -------------------------------------------------- */

  /* !Sidebar -------------------------------------------------- */

}
.turqoise a {
  color: #13afab;
}
.turqoise h1 {
  color: #13afab;
}
.turqoise h2 {
  color: #13afab;
}
.turqoise h3 {
  color: #13afab;
}
.turqoise .navbar .navbar-inner .container .nav > li > a {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */

  color: #119895;
}
.turqoise .navbar .navbar-inner .container .nav > li > a:hover {
  color: #fff;
}
.turqoise .navbar .navbar-inner .container .nav > .active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */

  color: #119895 !important;
}
.turqoise .nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */

  color: #119895;
}
.turqoise .dropdown-menu li > a:hover,
.turqoise .dropdown-menu li > a:focus,
.turqoise .dropdown-submenu:hover > a {
  background-color: #13afab;
}
.turqoise .dropdown-menu .active > a,
.turqoise .dropdown-menu .active > a:hover {
  background-color: #13afab;
}
.turqoise .header .container .spotlight-trip span a:hover {
  color: #13afab;
}
.turqoise aside.span3 .sidebar .moduletable h3 {
  background: #13afab;
}
.turqoise .trip {
  background: #13afab;
}
.darkpurple {
  /*aanpassing JT, kleur paars vinden ze te flets .coloreditems(#A182B9);*/

  /* !Body -------------------------------------------------- */

  /* !Nav -------------------------------------------------- */

  /* !Header -------------------------------------------------- */

  /* !Sidebar -------------------------------------------------- */

}
.darkpurple a {
  color: #875aae;
}
.darkpurple h1 {
  color: #875aae;
}
.darkpurple h2 {
  color: #875aae;
}
.darkpurple h3 {
  color: #875aae;
}
.darkpurple .navbar .navbar-inner .container .nav > li > a {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */

  color: #7a4fa0;
}
.darkpurple .navbar .navbar-inner .container .nav > li > a:hover {
  color: #fff;
}
.darkpurple .navbar .navbar-inner .container .nav > .active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */

  color: #7a4fa0 !important;
}
.darkpurple .nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */

  color: #7a4fa0;
}
.darkpurple .dropdown-menu li > a:hover,
.darkpurple .dropdown-menu li > a:focus,
.darkpurple .dropdown-submenu:hover > a {
  background-color: #875aae;
}
.darkpurple .dropdown-menu .active > a,
.darkpurple .dropdown-menu .active > a:hover {
  background-color: #875aae;
}
.darkpurple .header .container .spotlight-trip span a:hover {
  color: #875aae;
}
.darkpurple aside.span3 .sidebar .moduletable h3 {
  background: #875aae;
}
.darkpurple .trip {
  background: #875aae;
}
.pink {
  /* !Body -------------------------------------------------- */

  /* !Nav -------------------------------------------------- */

  /* !Header -------------------------------------------------- */

  /* !Sidebar -------------------------------------------------- */

}
.pink a {
  color: #ea609b;
}
.pink h1 {
  color: #ea609b;
}
.pink h2 {
  color: #ea609b;
}
.pink h3 {
  color: #ea609b;
}
.pink .navbar .navbar-inner .container .nav > li > a {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */

  color: #e7498d;
}
.pink .navbar .navbar-inner .container .nav > li > a:hover {
  color: #fff;
}
.pink .navbar .navbar-inner .container .nav > .active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */

  color: #e7498d !important;
}
.pink .nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */

  color: #e7498d;
}
.pink .dropdown-menu li > a:hover,
.pink .dropdown-menu li > a:focus,
.pink .dropdown-submenu:hover > a {
  background-color: #ea609b;
}
.pink .dropdown-menu .active > a,
.pink .dropdown-menu .active > a:hover {
  background-color: #ea609b;
}
.pink .header .container .spotlight-trip span a:hover {
  color: #ea609b;
}
.pink aside.span3 .sidebar .moduletable h3 {
  background: #ea609b;
}
.pink .trip {
  background: #ea609b;
}
.orange {
  /*aanpassing JT, kleur paars vinden ze te flets .coloreditems(#F39C33);*/

  /* !Body -------------------------------------------------- */

  /* !Nav -------------------------------------------------- */

  /* !Header -------------------------------------------------- */

  /* !Sidebar -------------------------------------------------- */

}
.orange a {
  color: #f68b0a;
}
.orange h1 {
  color: #f68b0a;
}
.orange h2 {
  color: #f68b0a;
}
.orange h3 {
  color: #f68b0a;
}
.orange .navbar .navbar-inner .container .nav > li > a {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */

  color: #de7d08;
}
.orange .navbar .navbar-inner .container .nav > li > a:hover {
  color: #fff;
}
.orange .navbar .navbar-inner .container .nav > .active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */

  color: #de7d08 !important;
}
.orange .nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */

  color: #de7d08;
}
.orange .dropdown-menu li > a:hover,
.orange .dropdown-menu li > a:focus,
.orange .dropdown-submenu:hover > a {
  background-color: #f68b0a;
}
.orange .dropdown-menu .active > a,
.orange .dropdown-menu .active > a:hover {
  background-color: #f68b0a;
}
.orange .header .container .spotlight-trip span a:hover {
  color: #f68b0a;
}
.orange aside.span3 .sidebar .moduletable h3 {
  background: #f68b0a;
}
.orange .trip {
  background: #f68b0a;
}
.purple {
  /* !Body -------------------------------------------------- */

  /* !Nav -------------------------------------------------- */

  /* !Header -------------------------------------------------- */

  /* !Sidebar -------------------------------------------------- */

}
.purple a {
  color: #ca80b1;
}
.purple h1 {
  color: #ca80b1;
}
.purple h2 {
  color: #ca80b1;
}
.purple h3 {
  color: #ca80b1;
}
.purple .navbar .navbar-inner .container .nav > li > a {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored; */

  color: #c26ea6;
}
.purple .navbar .navbar-inner .container .nav > li > a:hover {
  color: #fff;
}
.purple .navbar .navbar-inner .container .nav > .active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored !important; */

  color: #c26ea6 !important;
}
.purple .nav-collapse.in.collapse .dropdown-menu li.active > a:hover {
  /* aanpassing JT, vinden ze iets te licht in het menu. color:@colored */

  color: #c26ea6;
}
.purple .dropdown-menu li > a:hover,
.purple .dropdown-menu li > a:focus,
.purple .dropdown-submenu:hover > a {
  background-color: #ca80b1;
}
.purple .dropdown-menu .active > a,
.purple .dropdown-menu .active > a:hover {
  background-color: #ca80b1;
}
.purple .header .container .spotlight-trip span a:hover {
  color: #ca80b1;
}
.purple aside.span3 .sidebar .moduletable h3 {
  background: #ca80b1;
}
.purple .trip {
  background: #ca80b1;
}
/* !Responsive -------------------------------------------------- */
/* !Desktop large ------------------------- */
@media (min-width: 1200px) {
  .temp-debug:after {
    content: ' desktop large';
  }
  .brand {
    width: auto !important;
  }
  .header.homepage {
    height: 530px;
  }
  .spotlight-trip {
    font-size: 30pt !important;
  }
  .spotlight-trip h4 {
    font-size: 28pt !important;
  }
  .sidebar {
    width: 258px;
  }
}
/* !Desktop ------------------------- */
@media (max-width: 980px) {
  .temp-debug:after {
    content: ' desktop';
  }
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-top: 5px !important;
  }
  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }
  /* When affixed, space properly */
  .sidebar {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}
/* !Tablet to desktop ------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  .temp-debug:after {
    content: ' Tablet to desktop';
  }
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .header.homepage {
    height: 430px;
  }
  /* Widen masthead and social buttons to fill body padding */
  .header {
    margin-top: -20px;
    /* Offset bottom margin on .navbar */
  
  }
  .spotlight-trip {
    font-size: 30pt !important;
  }
  .spotlight-trip h4 {
    font-size: 28pt !important;
  }
  /* Adjust sidenav width */
  .sidebar {
    width: 166px;
    margin-top: 20px;
  }
  .sidebar.affix {
    top: 0;
  }
  .navbar .pull-right {
    float: left;
  }
  .calculation .group span.price {
    float: left;
    clear: both;
  }
}
/* !Tablet ------------------------- */
@media (max-width: 767px) {
  .temp-debug:after {
    content: ' Tablet';
  }
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  .header.homepage {
    height: 300px;
  }
  .header-module {
    height: 300px;
    border-radius: 0 !important;
  }
  /* Widen masthead and social buttons to fill body padding */
  .header {
    margin-top: -20px;
    /* Offset bottom margin on .navbar */
  
    margin-right: -20px;
    margin-left: -20px;
  }
  /* Sidenav */
  .sidebar {
    width: auto;
    margin-bottom: 20px;
  }
  .sidebar.affix {
    position: static;
    width: auto;
    bottom: 0;
  }
  .navbar .pull-right {
    float: left;
  }
  .nav-tabs {
    width: 100%;
  }
  .tab-content {
    clear: both;
  }
  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  .footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
  .calculation .group span.price {
    float: left;
    clear: both;
  }
}
/* !Landscape phones ------------------------- */
@media (max-width: 480px) {
  .temp-debug:after {
    content: ' Landscape phones';
  }
  /* Remove padding above header */
  body {
    padding-top: 0;
  }
  .nav-collapse {
    width: 100%;
  }
  .header.homepage {
    height: 300px;
  }
  .header-module {
    height: 300px;
    border-radius: 0 !important;
  }
  .navbar .pull-right {
    float: left;
  }
  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }
}
