
/* some general styles */


fieldset {
	border: 0;
}


fieldset legend {
	color: #666;
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
	padding-bottom: 20px;
}

.formRow {
	overflow: auto;
	border-bottom: 1px #bcbcbc solid;
	padding: 5px 0;
	max-width: 100%;
}

.formRow label {
	padding: 4px;
	margin: 0 3px 0 0;
	border-right: 1px #bcbcbc solid;
}


/* Drag & Drop file uploading */

.droppable {
	border-radius: 3px;
	background: #545A74;
	color: white;
	display:block;
	text-align: center;
	float: left;
	text-align: center;
	width:100%;
	height:20px;
	padding: 10px 0;
}

.droppable.hover {
	background: #121a3f;
}

.uploadList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.uploadItem {
	overflow: hidden;
	border-bottom: #BCBCBC 1px solid;
	margin: 0 20px;
	padding: 3px;
}

.uploadItem span {
	overflow: hidden;
	width: 150px;
	float: left;
	display: block;
}

a.addInputRow,
a.delInputRow,
.uploadItem a {
	display: inline-block;
	background: url(add.png) no-repeat;
	height: 16px;
	width: 16px;
	text-indent: -999px;
}

.uploadItem a {
	float: left;
	display: block;
	padding-left: 20px;
	background-image: url(delete.png);
}

a.delInputRow {
	background-image: url(delete.png);
}

.progress {
	margin: 5px 0;
	height: 15px;
	border-radius: 3px;
	background: #545A74;
}

.uploadedimg{
	border:5px solid #d7d3d3;
}
.removeimg{
	font-weight:bold;
	position:absolute;
	top:10px;
	right:0px;
	font-size:14pt;
	cursor:pointer;
}
.removeimg:hover{
	color:red;
}
