/* !Rosetta Reizen
  ###############################################
  #	
  #	  @address	: /templates/rosettareizen/less/template.less
  #	  @author	: Loek
  #	  @date		: 17-09-12	
  #	  @Revision	: 140735240337984
  #	  @todo		: EDITOR.CSS MAKEN!!!!
  #	
  ###############################################
*/


 
/* !Vars -------------------------------------------------- */

/* JT vinden ze te licht, ik maak hem iets donkerder. @limegreen: #d7d039; */
@limegreen: #d7d039;

@detailcolor:#e8337a; //#2F9EE0


.border-radius(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
  border-radius: @arguments;
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
}


/* !Fonts -------------------------------------------------- */
@font-face {
    font-family: 'quadraat';
    src: url('../fonts/quadraat-bold.eot');
    src: url('../fonts/quadraat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quadraat-bold.woff') format('woff'),
         url('../fonts/quadraat-bold.ttf') format('truetype'),
         url('../fonts/quadraat-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizelegibility;
}
@font-face {
    font-family: "rotis";
    src: url('../fonts/rotis_sans_serif_bold_65-webfont.eot');
    src: url('../fonts/rotis_sans_serif_bold_65-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rotis_sans_serif_bold_65-webfont.woff') format('woff'),
         url('../fonts/rotis_sans_serif_bold_65-webfont.ttf') format('truetype'),
         url('../fonts/rotis_sans_serif_bold_65-webfont.svg#rotissansserifbold') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizelegibility;
}
@font-face {
    font-family: "dakota";
    src: url('../fonts/dakota_regular.eot');
    src: url('../fonts/dakota_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dakota_regular.woff') format('woff'),
         url('../fonts/dakota_regular.ttf') format('truetype'),
         url('../fonts/dakota_regular.svg#dakotaregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizelegibility;
}


/* !Body -------------------------------------------------- */
body{
	background:#fff url(../img/background.png) left repeat-y;
	padding-top:60px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	/*color:#666;*/
	color:#545454;
}

a{
	color:@detailcolor;
	&:hover{
		color: @limegreen;
	}
}
h1{
	font-family: 'quadraat';
	font-size:38pt;
	font-weight: bold;
	color:@detailcolor;
	padding-bottom: 19px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}
h2{
	font-family: 'quadraat';
	font-size:38pt;
	color:@detailcolor;
	padding-bottom: 19px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
	.btn{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: normal;
		margin-top:10px;
	}
}
h3{
	font-family: "rotis", Helvetica, Arial, sans-serif;
	font-size:17pt;
	color:@detailcolor;
}

.calendar{
	z-index:999999999;
}

/* !Nav -------------------------------------------------- */

.navbar{
	box-shadow: 0px -5px 20px black;
	height:60px;
	.navbar-inner{
		filter: none !important;
		background:@limegreen;
		border:none;
		box-shadow: none;
		height:60px;
		.container{
			.brand{
				padding:0px;
				padding-top: 15px;
				width:240px !important;
				
			}
			.nav{
				&>li{
					position: relative;
					.dropdown-menu{
						.dropdown-menu{
							overflow-y: auto;
							max-height:500px;
						}
					}
					&:hover{
						>.dropdown-menu{
							display: block;
							top:60px;
						}
					}
					&>a{
						float: none;
						padding: 20px 10px 50px;
						color: #777777;
						text-decoration: none;
						text-shadow: none;
						color:@detailcolor;
						font-family: "rotis", Helvetica, Arial, sans-serif;
						font-size:13pt;
						&:hover{
							background-color:transparent;
							color:#fff;
							
						} 
				  	}
				}
				&>.active{
			  		&>a{
				  		background: none;
				  		box-shadow: none;
				  		color:#fff !important;
				  		&:hover{
							color:@detailcolor !important;
						}
				  	}  	
			  	}
			}
		} 
	}
}

.nav-collapse.in.collapse{
	width:100%;
	border-top:1px solid #fff;
	margin-top: 5px;
	.dropdown-menu{
		li{
			a{
				&:hover{
					background-color:transparent;
					color:#fff;
				}
				&::after{
					border-left-color: transparent;
				}
			}
			&.active{
		  		&>a{
			  		background: none;
			  		box-shadow: none;
			  		color:#fff;
			  		&:hover{
						color:@detailcolor;
					}
			  	}  	
		  	}
		}
		.dropdown-submenu{	
			.dropdown-menu{
				display: none;
			}
		}
	}
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #fff;
  text-decoration: none;
  background-color: @detailcolor;
  background-image: none;
  background-image:none;
  background-image:none;
  background-image:none;
  background-image:none;
  background-repeat: repeat-x;
  filter: none;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: @detailcolor;
  background-image: none;
  background-image:none;
  background-image:none;
  background-image:none;
  background-image:none;
  background-repeat: repeat-x;
  filter: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle{
	color: @detailcolor;
	background-color:transparent;
}

.navbar .nav li.dropdown.open.active > .dropdown-toggle{
	color: #fff;
	background-color:transparent;
}



/* !Header -------------------------------------------------- */

.header {
	position: relative;
	height:300px;
	box-shadow: 0 5px 10px #b0b0b0;
	overflow:hidden;
	.imgcontainer{
		position: absolute;
		z-index:1;
		width:100%;
		height:100%;
		overflow:hidden;
		img{
			width:100%;
			min-height:100%;
			position: absolute;
			top:0;
		}
	}
	&.homepage{
		height:530px;
		.header-module{
			height:310px;
			.border-radius(0px, 0px, 15px, 15px);
		}
	}
	.container {
	  	position: relative;
	  	z-index: 5;
	  	
/* !Header module -------------------------------------------------- */	  	
	  	.header-module-bg{
		  	height:300px;
		  	background: url(../img/sier.png) no-repeat right top;
		  	position: absolute;
		  	z-index: 0;
	  	}
  		.header-module{
		  	height:300px;
		  	background: url('../img/overlay.png');
		  	background: rgba(255,255,255,0.5);
		  	position: relative;
		  	z-index: 1;
		  	.moduletable{
		  		padding:20px;
			  	h3{
				  	text-align: right;
				  	color:#404040;
				  	margin:0;
			  	}
			  	.date-input1{
			  		margin-left: 0;
			  	}
			  	.date-input1, .date-input2{
			  		position: relative;
			  		.input-prepend{
				  		padding-right: 60px !important;
			  		}
			  		input{
			  			position: relative;
				  		z-index: 1;
				  		width:100% !important;
				  		padding-left: 50px;
				  		  border-radius: 3px !important;
						  -moz-border-radius: 3px !important;
						  -webkit-border-radius: 3px !important;
						  &:focus{
							  z-index:1;
						  }
			  		}
			  		.btn{
				  		position: absolute;
				  		z-index: 2;
				  		left: 0;
				  		top: 0;
			  		}
			  	}
		  	}
	  	}
	  	.spotlight-trip{
	  		clear:both;
	  		margin-top: 50px;
	  		color:#fff;
	  		font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;
	  		font-size: 27pt;
	  		line-height: 24pt;
	  		text-align: center;
		  	h4{
			  	margin:0 0 20px 0;
			  	padding:0;
			  	font-weight: bolder;
			  	font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;
			  	font-size: 25pt;
		  	}
		  	.spotlighttrips{
		  		position: relative;
		  		width:100%;
			  	span{
			  		left:0;
				  	a{
					  	color:#fff;
					  	&:hover{
						  	color:@detailcolor;
						  	text-decoration: none;
					  	}
				  	}
			  	}
			}
	  	}
	}
}
/* !Sidebar -------------------------------------------------- */
aside.span3{
	position: relative;
	.sidebar{
		margin-top:45px;
		width: inherit;
		background: #fff;
		&.affix{
			top:40px;
			z-index:0;
		}
		&.affix-bottom {
		  position: fixed;
		  bottom: 200px;
		}
		.moduletable{
			clear:both;
			margin-bottom:20px;
			position: relative;
			h3 {
				border: 1px solid #ddd;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				margin:0;
				text-align: left; 
				padding-left:10px;
				background:@detailcolor;
				color:#fff;
				-webkit-border-top-right-radius: 4px;
				border-top-right-radius: 4px;
				-webkit-border-top-left-radius: 4px;
				border-top-left-radius: 4px;
				-moz-border-radius-topright: 4px;
				-moz-border-radius-topleft: 4px;
				line-height: 20px;
				padding:10px 10px;
			}
			&>div{
				display: block;
				padding: 15px;
				border: 1px solid #ddd;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
	
				*zoom: 1;
				&:before,
				&:after {
				  display: table;
				  line-height: 0;
				  content: "";
				}
				
				&:after {
				  clear: both;
				}
				&:first-child{
					-webkit-border-top-right-radius: 4px;
					border-top-right-radius: 4px;
					-webkit-border-top-left-radius: 4px;
					border-top-left-radius: 4px;
					-moz-border-radius-topright: 4px;
					-moz-border-radius-topleft: 4px;
				}
				&:last-child{
					-webkit-border-bottom-right-radius: 4px;
					border-bottom-right-radius: 4px;
					-webkit-border-bottom-left-radius: 4px;
					border-bottom-left-radius: 4px;
					-moz-border-radius-bottomright: 4px;
					-moz-border-radius-bottomleft: 4px;
				}
			}
			.nav-tabs.nav-stacked > li:first-child > a {
				-webkit-border-top-right-radius: 0px;
				border-top-right-radius: 0px;
				-webkit-border-top-left-radius: 0px;
				border-top-left-radius: 0px;
				-moz-border-radius-topright: 0px;
				-moz-border-radius-topleft: 0px;
			}
		}
	}
	.label{
		line-height:25px;
		&.lightblue{
			background:#88CCCF !important;
			font-size:12pt;
		}
		&.turqoise{
			background:#13AFAB !important;
			font-size:12pt;
		}
		&.darkpurple{
			/* aanpassing JT background:#A182B9 !important; */
			background:#875aae !important;
			font-size:12pt;
		}
		&.pink{
			background:#eb619d !important;
			font-size:12pt;
		}
		&.orange{
			/* aanpassing JT background:#F39C33 !important; */
			background:#f68b0a !important;
			font-size:12pt;
		}
		&.purple{
			background:#CA80B1 !important;
			font-size:12pt;
		}
	}
}


/* !Content -------------------------------------------------- */
#content-container{
	background: #FFF;
}
.content{
	padding-top:45px;
	h2{
		word-wrap:break-word;
	}
	.quote{
		font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;
		font-size:19pt;
		line-height:20pt;
		color:darken(@limegreen, 16%);
		width:100%;
		margin-bottom: 20px;
		display:block;
	}
}
.social{
	clear:both;
	&>div{
		float:right;
		margin-left:10px;
	}
	&>div.backtotop{
		float:left;
		.btn{
			line-height: 14px;
		}
	}
	padding-top: 19px;
	margin: 20px 0 30px;
	border-top: 1px solid #eeeeee;
}
.pagination{
	select{
		width:auto;
		margin-top:5px;
		margin-left:3px;
	}
}

/* !TRIP -------------------------------------------------- */

.trip{
	background: @detailcolor;
	color:#fff;
	width:inherit;
	float:left;
	margin-bottom:20px;
	cursor: pointer;
	&>span{
		float:left;
		width:100%;
		p{
			padding-right:20px;
			font-size: 10pt;
			height:40px;
			overflow:hidden;
		}
		div{
			margin-top: 15px;
			span.departuredate{
				font-size: 9pt;
			}
			span.startingprice{
				/* aanpassing JT, dit wilde ze in normaal lettertype hebben font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;*/
				font-size: 14pt;
				font-weight:bold;
				color: #000;
			}
			.btn{	
				margin-top: 5px;
				margin-right:20px;
			}
		}
		img{
			float:left;
			margin-right:20px;
		}
		h3{
			color:#fff;
			margin:15px 0px 10px 0px;
			line-height: 20px;
		}
	}
	&.lightblue{
		background:#88CCCF !important;
	}
	&.turqoise{
		background:#13AFAB !important;
	}
	&.darkpurple{
		/*aanpassing JT, kleur paars vinden ze te flets background:#A182B9 !important;*/
		background:#875aae !important;
	}
	&.pink{
		background:#EA609B !important;
	}
	&.orange{
		
		/*aanpassing JT, kleur paars vinden ze te flets background:#F39C33 !important;*/
		background:#f68b0a !important;
	}
	&.purple{
		background:#CA80B1 !important;
	}

}

.tripinfo{
	img.thumb{
		/* aanpassing JT, dit vonden ze te klein. width:150px; */
		width:30%;
		float:right;

	}
	img.big{
		
	}
}

.modal-body{
	max-height:100%;
}


.calculation{
	font-size:10pt;
}
/* !BOEKINGS FORM -------------------------------------------------- */
#calculationbox{
	position: relative;
}
.spinner {
	position: absolute;
	width:100% !important;
	height:100% !important;
	top:0 !important;
	left:0 !important;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
	.border-radius(0px, 0px, 15px, 15px);
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(/components/com_trip/assets/img/preloader.gif) no-repeat;
	width: 31px;
	height: 31px;
	margin: 0 auto;
}
.calculation{
	.group{
		width:100%;
		border-top:1px solid #DDD;
		padding:4px 0;
		span{
			margin:0 4px;
			&.price{
				float:right;
				font-weight: bold;
			}
		}
		&.totalprice{
			font-weight: bold;
			color: @detailcolor;
			font-size: 140%;
			/*JT uit op verzoek Yen font-family: "dakota",Palatino ,Helvetica, Arial, sans-serif;*/
			padding:10px 0;
		}
	}
}

.validation-advice{
	color:#B94A48;
}

input.validation-failed{
	border-color: #B94A48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color:#B94A48;
	background: lighten(#B94A48, 30%);
	&:focus {
      border-color: darken(#B94A48, 10%);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(#B94A48, 20%);
    }
}

/* !Footer -------------------------------------------------- */

.footer {
	height:215px;
	margin-top: 70px;
	border-top: 2px solid #e5e5e5;
	background-color: transparent;
	position: relative;
	overflow: hidden;
	.imgwrapper{
		position: absolute;
		z-index:0;
		width:100%;
		height:100%;
		.imgcontainer{
			position: absolute;
			z-index:0;
			width:100%;
			height:100%;
			overflow:hidden;
			img{
				width:100%;
				min-height:100%;
				position: absolute;
				bottom:0;
				z-index:0;
			}
		}
		.overlay{
			border-top: 1px solid #fff;
			background: url('../img/overlay.png');
			background: rgba(255,255,255,0.7);
			position: absolute;
			z-index:1;
			width:100%;
			height:100%;
		}
	}
	.container {
	  	position: relative;
	  	z-index: 1;
	  	margin: 50px auto;
	}
}

 /*
	Datepicker for Bootstrap
	Copyright 2012 Stefan Petre
	Licensed under the Apache License v2.0
	http://www.apache.org/licenses/LICENSE-2.0
*/

.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	.border-radius(4px);
	z-index: 99999999;
	position: absolute;
	&:before {
		content: '';
		display: inline-block;
		border-left:   7px solid transparent;
		border-right:  7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0,0,0,.2);
		position: absolute;
		top: -7px;
		left: 6px;
	}
	&:after {
		content: '';
		display: inline-block;
		border-left:   6px solid transparent;
		border-right:  6px solid transparent;
		border-bottom: 6px solid #fff;
		position: absolute;
		top: -6px;
		left: 7px;
	}
	>div {
		display: none;
	}
	table{
		width: 100%;
		margin: 0;
	}
	td,
	th{
		text-align: center;
		width: 20px;
		height: 20px;
		.border-radius(4px,4px,4px,4px);
	}
	td {
		&.day:hover {
			background: #DDD;
			cursor: pointer;
		}
		&.old,
		&.new {
			color: #DDD;
		}
		&.active,
		&.active:hover {
			background: @detailcolor;
			color: #fff;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		}
		span {
			display: block;
			width: 47px;
			height: 54px;
			line-height: 54px;
			float: left;
			margin: 2px;
			cursor: pointer;
			.border-radius(4px,4px,4px,4px);
			&:hover {
				background: #DDD;
			}
			&.active {
				background: @detailcolor; 
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,.25);
			}
			&.old {
				color: #DDD;
			}
		}
	}
	
	th {
		&.switch {
			width: 145px;
		}
		&.next,
		&.prev {
			font-size: 14px * 1.5;
		}
	}
	
	thead tr:first-child th {
		cursor: pointer;
		&:hover{
			background: #DDD;
		}
	}
	/*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}


/* !Colors -------------------------------------------------- */
@import 'colors/colors.less';


/* !Responsive -------------------------------------------------- */

/* !Desktop large ------------------------- */
@media (min-width: 1200px) {
	.temp-debug:after{
		content:' desktop large';
	}
	.brand{
		width:auto !important;
	}
	.header.homepage{
		 height:530px;
	}
	.spotlight-trip{
  		font-size: 30pt !important;
	  	h4{
		  	font-size: 28pt !important;
	  	}
	}
	
	.sidebar {
		width: 258px;
	}
}

/* !Desktop ------------------------- */
@media (max-width: 980px) {
	.temp-debug:after{
		content:' desktop';
	}
  /* Unfloat brand */
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		
		padding-top:5px !important;
	}

	/* Inline-block quick links for more spacing */
	.quick-links li {
		display: inline-block;
		margin: 5px;
	}
	
	/* When affixed, space properly */
	.sidebar {
		top: 0;
		margin-top: 30px;
		margin-right: 0;
	}
}

/* !Tablet to desktop ------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
	.temp-debug:after{
		content:' Tablet to desktop';
	}
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  
  .header.homepage{
	height:430px;
  }
  
  /* Widen masthead and social buttons to fill body padding */
  .header{
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }

  .spotlight-trip{
  		font-size: 30pt !important;
	  	h4{
		  	font-size: 28pt !important;
	  	}
	}
  
  /* Adjust sidenav width */
  .sidebar {
    width: 166px;
    margin-top: 20px;
  }
  .sidebar.affix {
    top: 0;
  }
  .navbar{
	  .pull-right{
		  float:left;
	  }
  }

}

/* !Tablet ------------------------- */
@media (max-width: 767px) {
	.temp-debug:after{
		content:' Tablet';
	}
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .header.homepage{
	height:300px;
  }
  .header-module{
  	height:300px;
  	border-radius: 0 !important;
  }
  /* Widen masthead and social buttons to fill body padding */
  .header{
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
   /* Sidenav */
  .sidebar {
    width: auto;
    margin-bottom: 20px;
  }
  .sidebar.affix {
    position: static;
    width: auto;
    bottom: 0;
  }
  .navbar{
	  .pull-right{
		  float:left;
	  }
  }
  
  .nav-tabs{
	  width:100%;
  }
  .tab-content{
	  clear:both;
  }
  
  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    .container{
    	padding-left: 20px;
    	padding-right: 20px;
    }
  }
  .footer p {
    margin-bottom: 9px;
  }
}

/* !Landscape phones ------------------------- */
@media (max-width: 480px) {
	.temp-debug:after{
		content:' Landscape phones';
	}
  /* Remove padding above header */
  body {
    padding-top: 0;
  }
  .nav-collapse{
		width:100%;
	}
  .header.homepage{
	height:300px;
  }
  .header-module{
  	height:300px;
  	border-radius: 0 !important;
  }
 
  .navbar{
	  .pull-right{
		  float:left;
	  }
  }
  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }
}
