.toggler{
	background:#DEDEDE;
	cursor:pointer;
}

.toggler_active{
	background:#136295;
	color:#fff;
}


#admin_menu input[type="text"]{
	width:200px;
}

#admin_menu select{
	width:200px;
}

.tablehead_first{
	width:200px;
}

.tablehead_second{
	width:300px
}

.tablehead_last{
	width:400px;
}

#admin_menu{
	width:900px;
}

input["type=text"]{
	width:200px;
}

#admin_menu label{
	clear:none;
}

fieldset #basic{
	
}

tr{
	vertical-align:top;
}

#price_box {
	width:250px;
	border-right: 1px dashed #146295;
}

#price_box input[type="radio"]{
	float:left;
	clear:both;
}

#price_box label{
	float:left;
	display:block;
	clear:none;
}

.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(images/spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.icon-48-icon-com_shop{
	background-image: url("images/logo-com_shop.png");
}

.icon-16-shop{
	background-image: url("images/logo-shop-klein.png");
}

.com_shop-table{
	float:left;
	border-collapse:collapse;
}

#calculationbox{
	float:left;
	width:270px;
	font-size:9pt;
	margin-left:10px;
}

.com_shop-table-td-text{
	color:#000;
}

.com_shop-table-td-value{
	color:#146295;
	font-weight:bold;
	text-align:right;
}