.spinner {
	position: absolute;
	opacity: 0.8;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(../img/preloader.gif) no-repeat;
	width: 31px;
	height: 31px;
	margin: 0 auto;
}
